<mat-toolbar
  class="mat-elevation-z8 h-12 bg-default text-fonts-color fixed top-0 w-full z-[1000]"
>
  <button
    mat-icon-button
    *ngIf="isSmallScreen && userLogged"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <button
    mat-icon-button
    *ngIf="!isSmallScreen && userLogged"
    (click)="drawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <img src="../../../assets/images/header-icon.svg" class="w-8" />
  <!-- <p>{{ title }}</p> -->
  <span class="flex-auto"></span>

  <div *ngIf="!userLogged" class="app-userLogged-btns">
    <button mat-icon-button aria-label="Profile" routerLink="/login">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button aria-label="Create profile" routerLink="/create">
      <mat-icon>person_add</mat-icon>
    </button>
  </div>

  <div *ngIf="userLogged" class="app-userLoggout-btns flex justify-center">

      <div class="flex items-center mt-2">
        <p >{{ currentUser }}</p>
      </div>
      <button mat-icon-button aria-label="logout" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item *ngFor="let btn of menuItems" [routerLink]="btn.link">
    <mat-icon>{{ btn.icon }}</mat-icon>
    <span>{{ btn.label }}</span>
  </button>

  <button mat-menu-item routerLink="/">
    <mat-icon>exit_to_app</mat-icon>
    <span>Sair</span>
  </button>
</mat-menu>

<mat-drawer-container autosize class="h-dvh mt-12">
  <mat-drawer
    #drawer
    *ngIf="!isSmallScreen"
    mode="push"
    [opened]="userLogged"
    position="start"
  >
    <mat-nav-list>
      <mat-list-item
        *ngFor="let btn of menuItems"
        [routerLink]="btn.link"
        (click)="drawer.close()"
      >
        <button mat-button>
          <mat-icon>{{ btn.icon }}</mat-icon> {{ btn.label }}
        </button>
      </mat-list-item>

      <mat-list-item routerLink="/" (click)="logout()">
        <button mat-button><mat-icon>exit_to_app</mat-icon> Sair</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
