<mat-toolbar class="mat-elevation-z8 h-12 bg-default text-fonts-color">
  <!-- Deve aparecer somente quando user logado -->
  <button mat-icon-button *ngIf="isSmallScreen" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Deve aparecer somente quando user logado -->
  <button mat-icon-button *ngIf="!isSmallScreen" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <img src="../../../assets/images/syscad-log.png" class="w-10" />
  <span class="flex-auto"></span>

  <button mat-icon-button aria-label="Profile" routerLink="/login">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button aria-label="Create profile" routerLink="/create">
    <mat-icon>person_add</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item *ngFor="let btn of menuItems" [routerLink]="btn.link">
    <mat-icon>{{ btn.icon }}</mat-icon>
    <span>{{ btn.label }}</span>
  </button>
</mat-menu>

<mat-drawer-container autosize class="h-dvh">
  <mat-drawer
    #drawer
    *ngIf="!isSmallScreen"
    mode="side"
    opened="true"
    position="start"
  >
    <mat-nav-list>
      <mat-list-item *ngFor="let btn of menuItems" [routerLink]="btn.link">
        <button [routerLink]="btn.link" mat-button>
          <mat-icon>{{ btn.icon }}</mat-icon> {{ btn.label }}
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
