<div
  class="app-container w-full h-full flex flex-col items-center p-4 space-y-4"
>
  <!-- Botões -->
  <div class="flex w-full max-w-[90%] justify-end">
    <div class="app-add-produtos">
      <button class="bg-default text-white py-2 px-4 mr-2 rounded">
        Adicionar Produto
      </button>
    </div>
    <div *ngIf="checkRoleForUser()" class="app-add-user">
      <button class="bg-default text-white py-2 px-4 rounded">
        Adicionar Usuário
      </button>
    </div>
  </div>

  <!-- Tabela -->
  <div class="app-table w-[90%] max-h-[70vh] overflow-auto">
    <ng-container *ngIf="produtos.length">
      <app-table [data]="produtos"></app-table>
    </ng-container>
  </div>
</div>
